@import '../index.scss';
.About{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 1.75rem;

    @include desktop {
        max-width: 95%;
        margin-top: 3rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: space-evenly;      
    }

    &__info {
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;  

        @include desktop {
            width: 25rem;
            margin-right: 3rem;
        }
    }

    &__ux {
        width: 8rem;
        border-radius: 1rem;  

        @include desktop {
            margin-top: 2.25rem;
        }
    }

    &__img {
        width: 8rem;
        border-radius: 5rem;
    }

    &__name {
        margin-bottom: 0;
    }

    &__icon {
        margin-bottom: 0.25rem;
        display: flex;
        align-items: center;
    }

    &__description {
        line-height: 1.4rem;
    }

    &__social {
        display: flex;
        align-items: center;

        margin-top: 0.5rem;
    }

    &__link-img {
        width: 1.5rem;
    }

    &__gitlab-img {
        width: 1.75rem;
        margin-left: 0.75rem;
    }
}

.Computer {
    color: $color-dark-blue;
    margin-left: 0.5rem;
}