@import '../index.scss';

.CarouselCard {
    margin: 0 auto;
    width: 300px;
    margin-top: 2rem;

    background-color: white;

    @include desktop {
        width: 400px;
        margin-top: 5rem;
    }

    &__container{
        background-color: white;
    }

    &__img{
        left: 10.54%;
        right: 8.43%;
        top: 16.66%;
        bottom: 51.5%;
    }
}

.slide {
    background-color: white !important;
}

.control-dots {
    bottom: -12px !important;
}

.carousel .control-dots .dot {
    background-color: $color-med-green !important;
}

.thumbs {
    padding-left: 0 !important;
}