@import '../index.scss';

.Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    color: white;
    background-color: $color-med-green;  
    text-align: center;
    font-size: 0.75rem;
    
    &__info {
        margin: 0px;
    }

    &__about-info {
        margin: 0px;
    }
}

a:link {
    color:white;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
}
a:visited {
    color:white;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
}
a:active {
    color: white;
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
}