@import '../index.scss';

.LaunchScreen {
        position: relative;
        height: 79vh;

        background: url("/assets/images/launch-screen-logo.svg");        
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: $color-med-green;

        @include desktop {
            height: 89vh;
        }

        &__btn {
            position: absolute;
            width: 7rem;

            left: 34%;
            top: 70%;

            color: $color-dark-green;
            background-color: white;
            cursor: pointer;

            @include desktop {
                left: 45%;
                top: 80%;
            }
        }   

        &__link {
            color: $color-med-green;
        }
        
}