@import '../index.scss';

.mapboxgl-popup-content {
    width: 12rem;
    border-radius: 0.5rem;
}

.MarkerPopUp {
    width: 9rem;
    text-align: center;

    &__name {
        margin: 0;
        margin-top: 0.5rem;
    }

    &__schedule {
        margin: 0;
        margin-top: 0.25rem;
    }
}