@import "../index.scss";

// SCSS Styles
.Navbar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky; // header stays when scrolling down
  top: 0;
  z-index: 100; // on top of everything

  background-color: white;

  @include desktop {
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    height: 40px;
    padding-bottom: 0.75rem;

    object-fit: contain; // maintains image ratio

    @include desktop {
      margin-top: 0.75rem;
      padding-bottom: 0;
    }
  }

  &__center {
    height: 30px;
    margin: 0.75rem 1rem;
    padding: 20px;

    position: relative;

    display: flex;
    align-items: center;

    border: 1px solid $color-light-green;
    border-radius: 999px;
  }

  &__search-input {
    width: 250px;
    padding: 10px;

    border: none; // remove border input
    outline-width: 0; // remove withd of the input outline
    color: $color-light-green;
  }

  &__search-icon {
    width: 27px;
    height: 27px;
    padding: 3px;

    color: white;
    background-color: $color-light-green;
    border-radius: 50%;
  }

  &__search-result {
    background-color: white;
    position: absolute;
    top: 3rem;
    padding: 0.5rem;
    overflow-y: scroll;
    max-height: 300px;
    width: 300px;
    border-radius: 0.25rem;    

    > a {
      color: $color-light-green !important;
      display: block;

      padding-bottom: 0.5rem;    

      &:hover {
        font-size: 0.9rem !important;
        font-weight: 500 !important;
      }

      &:visited, :hover {
          color:$color-light-green;
      }

    }
  }

  &__right {
    padding-top: 0.75rem;

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-top: 0;
    }

    &--categories {
      margin-right: 1rem;
      color: $color-med-green;

      @include desktop {
        margin-right: 2rem;
      }

      &:hover {
        color: $color-dark-blue;
      }
    }

    &--access {
      color: $color-med-green;

      &:hover {
        color: $color-dark-blue;
      }
    }
  }

  &__map-icon {
    width: 1rem;
    margin-right: 1rem;
    color: $color-med-green;

    @include desktop {
      margin-right: 2rem;
    }

    &:hover {
      color: $color-dark-blue;
    }
  }
}
