@import '../index.scss';

.mapboxgl-map {
    position: relative;
}

.StoresMap {    
    width: 300px;
    height: 400px;

    @include desktop {
        width: 600px;
        height: 800px;
    }

    &__marker {
        width: 2rem;
    }

    &__stores-container {
        position: absolute;
        width: 23.438rem;
        height: 15.5rem;
        top: 36.5rem;
        
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;        
        
        @include desktop {
            width: 100%;
            top: 40rem;
        }
    }

    &__store {
        height: 12rem;
        margin-left: 1rem;

        border-radius: 0.5rem;
        background-color: white;
    }

    &__store-info {
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    &__store-name {
        margin-bottom: 0;
        margin-top: 0.25rem;

        color: $color-dark-grey;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.02em;
    }

    &__store-description {
        margin-top: 0.5rem;
        line-height: 18px;
        color: $color-dark-grey;
        letter-spacing: 0.02em;
    }

    &__store-schedule {
        font-weight: 500;
        line-height: 18px;
        color: $color-dark-grey;
        letter-spacing: 0.02em;        
    }
}

