@import '../../index.scss';

.Access {
    margin-top: 2rem;
    
    &__buttons {
        display: flex;
        justify-content: space-around;

        @include desktop {
            justify-content: center;
        }
    }

    &__button-login {
        font-weight: 600;
        color: $color-grey;

        text-decoration: none;
    }
    
    &__button {
        @include desktop {
            margin-right: 7rem;
        }
    }

    &__button-sign-up {
        font-weight: 600;
        color: $color-grey;

        text-decoration: none;
    }

    &__active {
        font-weight: 600;
        padding-bottom: 0.5rem;

        border-bottom: 3px solid $color-med-green;
    }
}