@import '../../index.scss';

.SignForm{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vw;

    &__name{
        width: 266px;
        padding: 1rem 1rem;
        margin-bottom: 1rem;

        border: none; // remove border input
        outline-width: 0; // remove withd of the input outline
        border-radius: 0.25rem;
        background-color: $color-light-grey;
    }

    &__surname{
        width: 266px;
        padding: 1rem 1rem;
        margin-bottom: 1rem;

        border: none; // remove border input
        outline-width: 0; // remove withd of the input outline
        border-radius: 0.25rem;
        background-color: $color-light-grey;
    }

    &__email{
        width: 266px;
        padding: 1rem 1rem;
        margin-bottom: 1rem;

        border: none; // remove border input
        outline-width: 0; // remove withd of the input outline
        border-radius: 0.25rem;
        background-color: $color-light-grey;
    }

    &__password-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__password{
        width: 266px;
        padding: 1rem 1rem;
        margin-bottom: 1rem;

        border: none; // remove border input
        outline-width: 0; // remove withd of the input outline
        border-radius: 0.25rem;
        background-color: $color-light-grey;
    }

    &__password-icon {
        width: 27px;
        height: 27px;
        padding: 3px;

        color: white;
        background-color: $color-med-green;
        border-radius: 50%;
    }

    &__terms{
        width: 266px;
        font-size: 10px;
        line-height: 16px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;

        color: $color-grey;
    }

    &__button{
        margin-top: 1rem;
        width: 266px;
        height: 42px;

        background-color: $color-med-green;
        color: white;
        cursor: pointer;
    }
    &__button--disabled {
        margin-top: 1rem;
        width: 266px;
        height: 42px;

        background-color: $color-med-green;
        color: white;

        cursor: no-drop;

        &:hover{
            cursor: no-drop;
        }
    }
}