@import '../../index.scss';

.Category{
    margin: 0 auto;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__title {
        margin-top: 0;
        font-size: 18px;
        color: $color-dark-grey;

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        display: flex;
        align-items: flex-end;
        letter-spacing: 0.02em;
    }   
    
    &__list{
        
        @include desktop {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

a:link, a:visited, a:active {
    text-decoration:none;
}