@import '../../index.scss';

.ProductsList {

    &__header {
        display: flex;
        align-items: center;

        margin-left: 1.5rem;
    }

    &__products {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: hidden;

            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    &__title {
        padding-left: 90px;

        font-size: 18px;
        color: $color-dark-grey;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 44%;
        }
    } 

    &__go-back {
        cursor: pointer;
        width: 1.75rem;
        height: 1.75rem;

        color: white;
        background-color: $color-med-green;

        border-radius: 15px;
        padding-left: 0.5rem;

        &:hover {
            background-color: $color-dark-blue;
        }
    }

}

