@import '../../index.scss';

.Favorite{
    color: #e04f4f;

    position: absolute;
    top: 16rem;
    left: 15.813rem;

    @include desktop {
        top: 20.3rem;
        left: 63.5rem;
    }
}

.Favorite--border{
    color: #e04f4f;

    position: absolute;
    top: 16rem;
    left: 15.813rem;

    @include desktop {
        top: 20.3rem;
    left: 63.5rem;
    }
}

.Arrow{
    color: white;
    background-color: $color-med-green;
    border-radius: 15px;
    padding-left: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;

    &:hover {
        background-color: $color-dark-blue;
    }
}

.ProductDescription {
    margin-left: 1.5rem;
    position: relative;
    align-items: center;

    

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1.5rem;
    }

    &__title {
        padding-left: 20%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        color: $color-dark-grey;

        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        display: flex;
        align-items: flex-end;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 44%;
        }
    }  

    &__info {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include desktop {
            width: 30rem;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    &__bottom {
        @include desktop {
            padding-top: 1rem;
        }
    }


    &__img {        
        height: 15rem;
        width: 23rem;

        border-radius: 10px;
        object-fit: contain;
        padding-right: 2.5rem;

        @include desktop {
            width: 25rem;
            height: 18.75rem;
            min-width: 18.75rem;
            min-height: 12.5rem;
        }
    }

    &__type {
        color: $color-dark-grey;
        font-style: normal;
        font-weight: 300;
        font-size: 0.75rem; 
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 0.1em;
        margin-bottom: 0;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__name {
        text-transform: capitalize;
        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__summary {
        display: flex;
    }

    &__store-container {
        display: flex;
        align-items: center;
    }

    &__price-container {
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }

    &__price {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        margin-top: 0;
        margin-bottom: 0;

        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem; 
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__description {
        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }
    &__store-name {
        margin-left: 0.5rem;
        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }
}