@import '../../index.scss';

.ProductCard {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    position: relative;

    @include desktop {
        border-radius: 10px;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        transition: transform 100ms ease-in;
        cursor: pointer;

        &:hover {
            transform: scale(1.07);
        }
    }

    &__img {        
        width: 160px;
        height: 160px;

        object-fit: cover;
        border-radius: 10px;

        @include desktop {
            width: 250px;
            height: 200px;
            min-width: 300px;
            min-height: 200px;
        }
    }

    &__type {
        color: $color-dark-grey;
        font-style: normal;
        font-weight: 300;
        font-size: 0.75rem; 
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 0.1em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__name {
        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__price {
        color: $color-dark-grey;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem; 
        line-height: 18px;
        letter-spacing: 0.02em;

        @include desktop {
            padding-left: 0.5rem;
        }
    }

    &__favorite{
        color: #e04f4f;
    
        position: absolute;
        top: 132px;
        left: 129px;
        
        @include desktop {
            top: 208px;
            left: 258px;
        }
    }

    &__favorite--border{
        color: #e04f4f;
    
        position: absolute;
        top: 132px;
        left: 129px;
    
        @include desktop {
            top: 208px;
            left: 258px;
        }
    }
}