@import '../../index.scss';

.Profile{
    max-width: 85%;
    margin: 0 auto;
    height: 80wv;

    display: flex;
    flex-direction: column;

    @include desktop {
        max-width: 95%;        
    }

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__main-info {
        margin-left: 2rem;
    }

    &__name {
        margin-top: 0;
    }

    &__detail-button {
        margin-bottom: 0.5rem;

        cursor: pointer;
        color: $color-med-green;
        background-color: transparent;
        border: 1px solid $color-med-green;
    }

    &__second-container{
        display: flex;
        flex-direction: row;  
    }


    &__second-item {
        display: flex;
        align-items: center;

        &--job {
            margin-left: 1.5rem;
        }
    }

    &__second-location {
        padding-left: 0.5rem;
    }

    &__second-job {
        padding-left: 0.5rem;
    }


    &__products{
        display: flex;
        flex-direction: row;
        
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        
        @include desktop {
            padding-top: 2rem;
            padding-bottom: 2rem;

            flex-wrap: wrap;
            overflow-x: hidden;
        }
    }

    &__button{
        cursor: pointer;
    }
}

.Plus{
    color: white;
    background-color: $color-med-green;
    border-radius: 15px;
}

.Job{
    color: $color-med-green;
}

.Location{
    color: $color-med-green;
}